.Color{
  background-color: rgb(255, 174, 174);
}

.Color0{
  background-color: rgb(255, 255, 255);

}

.Color2{
  background-color: rgb(161, 161, 233);
}
 
.Centro{
  text-align: center;
}