td{
  color:aqua;
}

p{
  color:blue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: large;
}

.sombra{
  background-color: rgb(22, 51, 51);
}